@import './common.css';
@import './bootstrap-grid.min.css';
html, body, .layout {
height: 100%;
}
@import '~iview/dist/styles/iview.css';


.ivu-btn,
.ivu-icon {
    transition: .5s;
    cursor:pointer;
}
.ivu-btn:hover,
.ivu-icon:hover {
    transform: scale(1.2);
    color: green;
}
.ivu-btn:active,
.ivu-icon:active {
    transition: .2s;
    transform: scale(.8);
    color: red;
}